{% if shade %}

<!-- Button trigger modal -->
<span  data-toggle="modal" data-target="#shadeModal{{shade.pk}}">
  <img src="{{shade.crop}}" height="40px"
    data-toggle="tooltip"
    data-placement="top"
    title="{{shade.name}} from  {{shade.palette.name}} by {{shade.palette.seller.name}}."/>
</span>

<!-- Modal -->
<span>
    <div class="modal fade" id="shadeModal{{shade.pk}}" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>{{shade.name}}</b> from  {{shade.palette.name}} by {{shade.palette.seller.name}}.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="row">
          <div class="col-5"><img src="{{shade.palette.photo.url}}" height="100px" /></div>
          <div class="col"><p>{{shade.get_color_display }}{% if shade.second_color  %}/{{shade.get_second_color_display}}{% endif %}
             - {{shade.get_darkness_display }} {{shade.get_texture_display }}</p></div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</span>
{% else %}
    <p>Shade is not available.</p>
{% endif %}