{% extends 'rul/base.html' %}
{% block content %}
<form action="user_shade" method="post">
    <button type="submit" class="btn btn-primary">Ok</button><br/>
    {% csrf_token %}
    <table id="myTable" data-toggle="table" data-search="true">
        <thead>
            <tr>
              <th data-field="id">palette</th>
              <th data-field="name">shades list</th>
            </tr>
        </thead>
        {% for palette in palettes %}
        <tr>
            <td>
                {{palette}}
                <button type="button" class="btn btn-outline-primary btn-sm"  name="btn_select">SElect all shades</button>
                <button type="button" class="btn btn-outline-primary btn-sm"  name="btn_deselect">DEselect all shades</button>'
                <br/>
                <img src="{{palette.photo.url}}" height="100px" />
            </td>
            <td>
            {% for shade in shades %}
                {% if shade.palette.id == palette.id%}

                    ---- <input type="checkbox" name="s{{shade.id}}" {% if shade.id in user_shades%}checked="checked" {% endif %}/>{% include 'rul/snippets/shade_with_popup.html' with shade=shade%} {{shade}}<br/>

                {% endif %}
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</form>

{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
    $('button[name ="btn_select"]').click(check_all);
    $('button[name ="btn_deselect"]').click(uncheck_all);
});
function check_all(event){
       checkboxes = $(event.target).parent().parent().find('input').attr('checked','checked');
}
function uncheck_all(event){
       checkboxes = $(event.target).parent().parent().find('input').removeAttr('checked');
}
</script>
{% endblock %}